
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: .5em;
    

}
.About{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-top: .5em;
    margin-right: .5%;
}
.head{
    text-align: center;
    margin-top: 5em;
    font-weight: bold;
    color: white;
    opacity: 100%;
    margin-top: .9em;
}
.met {
    width: 10em;
    border-radius: 1em;
    float: center;
    margin-bottom: 2em;
    opacity: 100%;
    border: ridge;
    margin-left: 28%;

  }
h3{
    text-size-adjust: 1em;
    margin-bottom: .92em;
    margin-left: 1em;
    margin-top: -.7em;
    padding-bottom: .95em;
}
.Skills{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-right: .5%;
    margin-top: -.5em;

}
.homie{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    margin-top: .5em;

}
.skill1{
    width: 10em;
    height: auto;
    

}
.skill2{
    width: 28%;
    height: auto;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1em;
}
.skill3{
    width: 20%;
    height: auto;
    padding-left: .6em;
    padding-bottom: 1em;
}
.skill4{
    width: 7em;
    float: left;
    margin-left: 1.7em;

}
.skill5{
    width: 10em;
    margin-left: -4em;
    margin-right: 3em;
}
.skill6{
    float: right;
    width: 7em;
}
.skill7{
    padding-bottom: .4em;
    width: 5.5em;
}

.skill8{
    float: left;
    margin-left: 3em;
    
}
.skill9{
    padding-right: 5.4em;
    width: 9.5em;
}

.skill10{
    float: right;
    margin-top: -7em;
    width: 8em;
}
.resume-box{
    border: .5em solid white;
    color: black;
    text-align: center;
    background-color: transparent;
    margin-right: .45%;
    padding: 2em;
    margin-top: -.5em;
}
.Resume{
    width: 2em;  
    height: auto;
    margin-left: -1em; 
    margin-bottom: 1em;
}
.continue{
    text-align: center;
    color: white;
    margin-right: 1em;
    margin-top: -.30em;
    margin-bottom: 1em;
}
.Projects{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-right: .14em;
    margin-bottom: 44em;
    margin-top: -.5em;
    padding-bottom: 24em;
}
.Project1{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: .2em;
    padding-bottom: .5em;
}
.Project2{
    float: right;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-right: .2em;
    padding-bottom: .5em;
}
.up{
    margin-top: -.3em;
}
.Project3{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: .2em;
    padding-bottom: .5em;
    margin-top: .5em;
}
.Project4{
    float: right;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-right: .2em;
    padding-bottom: .5em;
    margin-top: .5em;
}

.Contact{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-right: .14em;
    margin-top: -44.5em;
    padding-bottom: 20em;
    margin-bottom: 1em;

}
.woof{
    text-align: center;
    float: center;
    color: white;
    margin-top: 1em;

    
}
.Linked{
    float: left;
    margin-left: 2.5em;
    margin-top: -.6em;
    
}
.bill{
    float:left;
    margin-left: -4.8em;
    margin-top: 3.6em;
}
.Gmail{
    float: right;  
    margin-right: 2.5em;
    margin-top: -.05em;
    margin-left: -.7em;
}
.bob{
    float: center;
    margin-left: 11em;
    margin-top: 3.5em;
    padding-bottom: 2em;
}
.outro{
    float: center;
    padding: .2em;
    text-align: center;
    margin-top: -2em;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: .5em;
    

}
.About{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-top: -69.42em;
    margin-left: 1em;
    margin-right: 12em;
    padding-right: 2em;
}
.head{
    text-align: center;
    margin-left: 1.3em;
    font-weight: bold;
    color: white;
    opacity: 100%;
}
.met {
    width: 8.67em;
    border-radius: 1em;
    float: left;
    margin-right: 5em;
    margin-bottom: 10em;
    position: relative;
    top: -4.36em;
    left: 1.6em;
    opacity: 100%;
    border: ridge;
  }
.h3{
    margin-left: 5em;
    text-size-adjust: 1em;
    margin-bottom: 1em;
}
.Skills{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-left: 65.5em;
    margin-right: 1em;

    
}
.homie{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;

}
.skill1{
    width: 10em;
    height: auto;
    padding-top: 3.8em;

}
.skill2{
    width:6em;
    height: auto;
    padding-top: 1em;

}
.skill3{
    width:4.5em;
    height: auto;
    padding-top: 1em;

}
.skill4{
    width: 7em;
    height: auto;
    padding-bottom: 1em;

}
.skill5{
   margin-right: 6.5em;
    margin-top: -15em;;

}
.skill6{
    width: 4em;
    height: auto;

}
.skill7{
    width:2em;
}
.skill8{
    width:4em;
    height: auto;
    padding-top: 3em;
}
.skill9{
    margin-right: 4em;
}

.skill10{
    float: right;
    margin-top: -7.5em;
}
.resume-box{
    border: .5em solid white;
    color: black;
    text-align: center;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 12em;
    padding: 2em;
    margin-top: -.5em;
}
.Resume{
    width: 2em;  
    height: auto; 
    margin-left: -12em;
}
.continue{
    text-align: center;
    color: white;
    margin-right: 7.6em;
    margin-top: -.30em;
}
.Projects{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 12em;
    margin-bottom: 5em;
    margin-top: -.5em;
    padding-bottom: 15em;
}
.Project1{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4.5em;
    padding-bottom: .5em;
}
.Project2{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4.5em;
    padding-bottom: .5em;
}
.up{
    margin-top: -.3em;
}
.Project3{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4.5em;
    padding-bottom: .5em;
}
.Project4{
    float: right;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-right: 4.5em;
    padding-bottom: .5em;
}

.Contact{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 12em;
    margin-top: -5.5em;
    padding-bottom: 2.8em;

}
.woof{
    text-align: center;
    margin-right: 5em;
    color: white
    
}
.Linked{
    float: left;
    margin-left: 1em;
    margin-top: -.6em;
    
}
.bill{
    float:left;
    margin-left: .5em;
    margin-top: 1.1em;
}
.Gmail{
    float: center;  
    margin-right: 5em;
    margin-top: .5em;
}
.bob{
    float: center;
    margin-left: 17em;
    margin-top: -3.1em;
    padding-bottom: .28em;
}
.outro{
    float: center;
    padding: .2em;
    text-align: center;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.h1{
    text-align: center;
    font-weight: bold;
    color: white;

}
.About{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 7.5em;
    padding-right: 2em;
}
.head{
    text-align: center;
    margin-left: 1.3em;
    font-weight: bold;
    color: white;
    opacity: 100%;
}
.met {
    width: 8.67em;
    border-radius: 1em;
    float: left;
    margin-right: 5em;
    margin-bottom: 10em;
    position: relative;
    left: 1.6em;
    opacity: 100%;
    border: ridge;
    margin-top: 1.2em;
  }
.h3{
    margin-left: 5em;
    text-size-adjust: 1em;
    margin-bottom: 1em;
}
.Skills{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-top: -.5em;
    padding-bottom: 10em;
    margin-right: 7.5em;
    margin-left: 1em;
    
}
.homie{
    text-decoration: solid;
    font-weight: bold;
    margin-right: 9em;

}
.skill1{text-align: center;
    
}
.skill2{
    width:6em;
    height: auto;
    width: 7em;
    padding-top: 1em;

}
.skill3{
    width: 4.3em;
    height: auto;
    padding-top: 1em;

}
.skill4{
    width: 7em;
    height: auto;
    padding-bottom: 1em;

}
.skill5{
    width: 8em;
    height: 5em;
    padding-right: 2.5em;
    padding-bottom: .6em;
    margin-left: -1.3em;

}
.skill6{
    width: 6em;
    height: auto;
    margin-top: 3em;
    margin-left: -3.5em;
}
.skill7{
    width: 6em;
    height: 6.6em;
    margin-bottom: -.3em;
    margin-right: -.6em;
}
.skill8{
    width: 4.2em;
    height: auto;
    margin-left: 7em;
    float: left;
    margin-top: -3.2em;
}
.skill9{
    float: left;
    margin-left: -28em;
    margin-top: -6.3em;
    padding-left: 5em;

}

.skill10{
    margin-top: -7em;
    float: left;
    margin-left: -13.6em;
}
.resume-box{
    border: .5em solid white;
    color: black;
    text-align: center;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 7.5em;
    padding: 2em;
    margin-top: -.5em;
}
.Resume{
    width: 2em;
    height: auto;
    margin-left: 1em;
}
.continue{
    text-align: center;
    color: white;
    margin-top: -.30em;
    padding-left: 7.5em;
}
.Projects{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-right: 7.5em;
    margin-bottom: 5em;
    margin-top: -.5em;
    padding-bottom: 25em;
}
.Project1{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    height: 10.2em;
    padding-bottom: .5em;
    margin-left: 8em;
}
.Project2{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: .5em;
    padding-bottom: .5em;
}
.up{
    margin-top: -.3em;
}
.Project3{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 8em;
    padding-bottom: .5em;
}
.Project4{
    float: left;
    margin-left: .5em;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
}

.Contact{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 7.5em;
    padding-bottom: 45em;

}
.woof{
    text-align: center;
    margin-right: 5em;
    color: white;
    padding-bottom: .5em;
    
}
.Linked{
    float: left;
    margin-left: 3em;
    margin-top: -.6em;
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    padding-right: 7em;
    
}
.bill{
    float: left;
    margin-left: -6em;
    margin-top: 1.1em;
}
.Gmail{
    margin-top: -.5em;
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    padding-right: 3.5em;
    padding-left: 3.5em;
    margin-right: 2.4em;
    padding-bottom: 1.1em;
}
.bob{
    padding-left: 8.2em;
    float: right;
    margin-top: -4em;
}
.outro{
    padding: 1em;
    text-align: center
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    text-align: center;
    font-weight: bold;
    color: white;

}
.About{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-top: .42em;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 2em;
}
.head{
    text-align: center;
    margin-left: 1.3em;
    font-weight: bold;
    color: white;
    opacity: 100%;
}
.met {
    width: 8.67em;
    border-radius: 1em;
    float: left;
    margin-right: 5em;
    position: relative;
    top: -5.5em;
    left: 1.6em;
    opacity: 100%;
    border: ridge;
  }
h3{
    margin-left: 5em;
    text-size-adjust: 1em;
    margin-bottom: 1em;
}
.Skills{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-right: 1em;
    padding-bottom: 1em;

    
}
.homie{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    margin-right: 6.5em;

}
.skill1{
    width: 10em;
    height: auto;
    margin-top: -10em;
    margin-right: 49em;
    margin-bottom: 5em;

}
.skill2{
    width:6em;
    height: auto;
    padding-top: 1em;

}
.skill3{
    width: 4.5em;
    height: auto;
    padding-top: 1em;
    margin-left: -4em;

}
.skill4{
    width: 7em;
    height: auto;
    padding-bottom: 1em;

}
.skill5{
    width: 4em;
    height: 4em;
    padding-top: 1em;

}
.skill6{
    width: 4em;
    height: auto;

}
.skill7{
    width: 5.3em;
    height: auto;
}
.skill8{
    width:4em;
    height: auto;

}
.skill9{
    float: right;
    width: 9em;
    padding-right: 8em;
}
.skill10{
    float: left;
    width: 9em;
    margin-top: 1em;
}
.resume-box{
    border: .5em solid white;
    color: black;
    text-align: center;
    background-color: transparent;
    margin-right: 1em;
    padding: 2em;
    margin-top: -.5em;
}
.Resume{
    width: 2em;
    height: auto;
}
.continue{
    text-align: center;
    color: white;
    margin-right: 7.6em;
    margin-top: -.30em;
}
.Projects{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;
    margin-top: -.5em;
    padding-bottom: 15em;
}
.Project1{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4em;
    padding-bottom: .5em;
    margin-top: .5em;
}
.Project2{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4em;
    padding-bottom: .5em;
    margin-top: .5em;
}
.up{
    margin-top: -.3em;
}
.Project3{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4.5em;
    padding-bottom: .5em;
}
.Project4{
    float: right;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-right: 4.5em;
    padding-bottom: .5em;
}

.Contact{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -5.5em;
    padding-bottom: 15em;

}
.woof{
    text-align: center;
    margin-right: 5em;
    color: white
    
}
.Linked{
    float: left;
    margin-left: 5em;
    margin-top: -.6em;
    
}
.bill{
    float: left;
    margin-top: 1.1em;
}
.Gmail{
    float: center;  
    margin-right: 5em;
    margin-top: .5em;
}
.bob{
    margin-right: -12em;
    margin-top: -2em;
    padding-bottom: .28em;
}
.outro{
    float: center;
    padding: .2em;
    text-align: center;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    text-align: center;
    font-weight: bold;
    color: white;

}
.About{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-top: .42em;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 2em;
}
.head{
    text-align: center;
    margin-left: 1.3em;
    font-weight: bold;
    color: white;
    opacity: 100%;
    margin-bottom: 2em;
}
.met {
    width: 8.67em;
    border-radius: 1em;
    float: left;
    margin-right: 5em;
    position: relative;
    top: -5.5em;
    left: 1.6em;
    opacity: 100%;
    border: ridge;
    margin-top: -.35em;
  }
h3{
    margin-left: 5em;
    text-size-adjust: 1em;
    margin-bottom: 1em;
}
.Skills{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-right: 1em;
    padding-bottom: 1em;

    
}
.homie{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    margin-right: 10em;
    

}
.skill1{
    width: 10em;
    height: auto;
    margin-left: -7em;
    margin-top: -8em;
    float: left;
    padding-bottom: 1.5em;
    margin-right: -3.2em;

}
.skill2{
    width: 6em;
    height: auto;
    padding-top: 1em;
    margin-left: -4em;
    padding-right: 4em;
}
.skill3{
    width:4.5em;
    height: auto;
    padding-top: 1em;

}
.skill4{
    width: 7em;
    height: auto;
    padding-bottom: 1em;

}
.skill5{
    width: 9em;
    height: auto;
    padding-top: 1em;
    margin-left: -1.3em;

}
.skill6{
    width: 6em;
    height: auto;
    margin-left: -11em;

}
.skill7{
    width: 5.4em;
    height: auto;
    padding-right: 6em;
    margin-left: -2.5em;
}
.skill8{
    margin-left: 4em;
    float: left;
    margin-top: -2em;
    padding-right: 5em;

}
.skill9{
    width: 9em;
    float: left;
    margin-left: 3em;
    margin-top: -6.3em;
}
.skill10{
    float: right;
    margin-top: -6.8em;
    width: 7em;
    margin-right: 1em;

    
}
.resume-box{
    border: .5em solid white;
    color: black;
    text-align: center;
    background-color: transparent;
    margin-right: 1em;
    padding: 2em;
    margin-top: -.5em;
}
.Resume{
    width: 2em;
    height: auto;
}
.continue{
    text-align: center;
    color: white;
    margin-right: 7.6em;
    margin-top: -.30em;
    padding-left: 8em;
}
.Projects{
    border: .5em solid white;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;
    margin-top: -.5em;
    padding-bottom: 15em;
}
.Project1{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 11em;
    padding-bottom: .5em;
    margin-top: .5em;
}
.Project2{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4em;
    padding-bottom: .5em;
    margin-top: .5em;
}
.up{
    margin-top: -.3em;
}
.Project3{
    float: left;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-left: 4.5em;
    padding-bottom: .5em;
}
.Project4{
    float: right;
    border: .2em solid white;
    border-radius: .5em;
    width: 10em;
    height: 10.2em;
    margin-right: 11em;
    padding-bottom: .5em;
}

.Contact{
    border: .5em solid white;
    color: black;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -5.5em;
    padding-bottom: 2em;

}
.woof{
    text-align: center;
    margin-right: 5em;
    color: white
    
}
.Linked{
    float: left;
    margin-left: 5em;
    margin-top: -.6em;
    
}
.bill{
    float: left;
    margin-top: 1.1em;
}
.Gmail{
    margin-right: 4em;
    margin-top: -.5em;
    margin-left: 55em;
}
.bob{
    margin-right: 7em;
    margin-top: -2.8em;
    padding-bottom: .28em;
}
.outro{
    float: center;
    padding: .2em;
    text-align: center;
}
}
